body {
    background: url(https://static.pexels.com/photos/216372/pexels-photo-216372.jpeg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    color: #ffffff;
}

.logo {
    font-size: 30px;
    color: #ffffff;
}

.navbar-inverse {
    background: rgba(0,0,0,0.5);
}

.navbar-brand {
    text-align: center;
    font-size: 36px;
    line-height: 30px;
}

.nav li {
    color: whitesmoke;
    font-size: 36px;
    margin-right: 35px;
    padding: 4px 0;
}

.nav li:hover {
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 2px;
}

@media (max-width: 768px) {
    .nav li:hover {
        border: none;
        padding: 4px 0;
    }
}

.jumbotron {
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.icons {
    margin-top: 25px;
}

.bodyimage {
    height: 100px;
}

.col-md-4 {
    text-align: center;
}

.icons p {
    font-size: 35px;
}
